[submodule "data"]
	path = data
	url = rainbow-dash:/media/external/Git/mass-inference-data.git
[submodule "experiment"]
	path = experiment
	url = git@github.com:jhamrick/mass-inference-experiment.git
[submodule "stimuli"]
	path = stimuli
	url = git@github.com:jhamrick/mass-inference-stimuli.git
[submodule "analysis"]
	path = analysis
	url = git@github.com:jhamrick/mass-inference-analysis.git
