analysis/images
figures/*.png
.DS_Store
resources/sso/mass-all
resources/render
experiment/static/stimuli/
experiment/config.txt
experiment/deploy.sh
experiment/participants.db
old
data/sim-raw
results
figures/mass_inference-G/
analysis/.ipynb_checkpoints
