/********************************************************************/
/* Generic element styles                                           */
/********************************************************************/

body {
    padding: 0;
    margin: 0;
    font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
    font-size: 1em;
    line-height: 1.25em;
}

p {
    margin-top: .625em;
    margin-bottom: .625em;
}

h1 {
    font-weight: bold;
    font-size: 1.25em;
    margin-top: .625em;
    margin-bottom: .625em;
}

/********************************************************************/
/* buttons                                                          */
/********************************************************************/

button {
    background-color: white;
    box-shadow: 1px 1px 3px;
    border: 1px solid black;
    margin: 1%;
    padding: 1% 2% 1% 2%;
    font-family: Georgia, serif; 
    font-size: 1em;
}

button:active {
    background-color: #c9c9c9;
    box-shadow: 0px 0px 3px;
}

/********************************************************************/
/* Slide components                                                 */
/********************************************************************/

div.slide {
    width: 640px; /* should be the width of the video */
    display: none;
    position: relative;
    margin-left: 0.5%;
    padding: 1% 2% 1% 2%;
}

div.spacer { clear: both; }

div.blue {
    background-color: #CEECF5;
    padding: 0 1em 0 1em;
    border: 1px solid #CEECF5;
    position: relative;
}

div.continue {
    text-align: center;
    width: 100%;
    margin-top: 1%;
}

/********************************************************************/
/* Flow player                                                      */
/********************************************************************/

.fp-controls { display: none; }
.fp-embed { display: none; }
.fp-time { display: none; }
.fp-help { display: none; }

/* don't show the player ui when the player is ready */
.is-splash.flowplayer .fp-ui,.is-paused.flowplayer .fp-ui { display: none; }
#player.is-finished .fp-ui,#player.is-finished .fp-engine { display: none; }

/********************************************************************/
/* Index slide components                                           */
/********************************************************************/

img.logo { height: 6.25em; }

#consent {
    font-size: .9em;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1em;
    text-align: justify;
}

/********************************************************************/
/* Instructions slide components                                    */
/********************************************************************/

div.example-container {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    line-height: 480px; /* should be the height of the video */
    height: 480px;
    width: 640px;
}

.example {
    z-index: -100;
    display: inline-block;
    position: relative;
    width: 100%;
}

#scales {
    border-bottom: 2px solid black;
    margin: 0 20%;
    height: 5em;
}

#scales img {
    height: 100%;
    margin: 0 auto;
    display: block;
}

/********************************************************************/
/* Trial slide components                                           */
/********************************************************************/

/* Progress bar */

#progress {
    margin-top: .625em;
    margin-bottom: .625em;
    position: relative;
}

#progress-text { position: absolute; }

#indicator-container {
    position: relative;
    float: right;
    width: 82%;
    margin-bottom: .2em;
}

#indicator-outer {
    background-color: white;
    border: 1px solid black;
    height: 1em;
}

#indicator-stage {
    height: 100%;
    background-color: navy;
}

/* Question */

#question-container{
    position: relative;
    padding-top: .625em;
    padding-bottom: .625em;
    line-height: 3em;
}

#question {
    position: absolute;
    font-size: 1.25em;
}

#question-image {
    position: relative;
    float: right;
    height: 3em;
}

#question-image img { 
    height: 100%;
    border-bottom: 2px solid black;
    padding: 0 35px;
    display: none;
}

/* Video player */

#video-container {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    width: 640px;
    height: 480px;
}

#prestim {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    background-size: 100%;
}

#video-instructions {
    position: absolute;
    width: 100%;
    font-size: 1.25em;
    text-align: center;
    color: white;
    top: 44%;
}

#play-button {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 72%;
}

#play-button button {
    background-color: white;
    box-shadow: 1px 1px 3px;
    border: 1px solid black;
    border-radius: 4em;
    -moz-border-radius: 4em;
    -webkit-border-radius: 4em;

    margin: 1%;
    padding: 4% 8% 4% 8%;

    font-family: Georgia, serif; 
    font-size: 1.25em;
}

#play-button button:active {
    background-color: #c9c9c9;
    box-shadow: 0px 0px 3px;
}

#player {
   display: inline-block;
   position: relative;
   width: 100%;
}

/* Responses */

#responses {
    position: absolute;
    z-index: 75;
    text-align: right;
    height: 100%;
    width: 100%;
    display: none;
    background-size: 100%;
}

.response {
    position: absolute;
    height: 15%;
    width: 100%;
    font-size: 1.25em;
}

.response button {
    width: 32%;
    height: 100%;
    border-radius: 4em 0 0 4em;
    padding-right: 1%;
    text-align: right;
}

.response button:active { box-shadow: 0px 0px 3px; }

#response-yes { bottom: 5%; }
#response-yes button { background-color: #6666FF; }
#response-yes button:active { background-color: #CCCCFF; }

#response-no { top: 5%; }
#response-no button { background-color: #FFFF66; }
#response-no button:active { background-color: #FFFFCC; }

/* Feedback */

#feedback {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
}

.feedback {
    width: 100%;
    height: 10%;
    text-align: center;
    font-size: 1.25em;
    position: absolute;
    display: none;
}

.feedback p { margin-top: 2%; }

#stable-feedback {
    background-color: #FFFF66;
    top: 0%;
}

#unstable-feedback {
    background-color: #6666FF;
    bottom: 0%;
}

/********************************************************************/
/* Finished slide components                                        */
/********************************************************************/

#code-container {
    margin-top: .625em;
    margin-bottom: .625em;
}

#code {
    background-color: #FEA;
    text-align: center;
    width: 55%;
    padding: .5em;
    border: 1px solid black;
    margin: 0px auto;
}

