/********************************************************************/
/* Generic element styles                                           */
/********************************************************************/

body {
    padding: 0;
    margin: 0;
    font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
    font-size: 16px;
    line-height: 20px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-weight: bold;
    font-size: 16px;
}

object {
    position: absolute;
    z-index: -100;
    width: 640px;
    height: 480px;
    float: left;
    visibility: hidden;
}


/********************************************************************/
/* Buttons                                                          */
/********************************************************************/

button {
    background: url(../images/button-gradient.png);
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 29px;
    min-width: 70px;
    font-family: Georgia, serif; 
    font-size: 14px;
}

button:active {
    border-left: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    background: none;
    background-color: #c9c9c9;
}

button[disabled] {
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    cursor: not-allowed;
}


/********************************************************************/
/* Slide components                                                 */
/********************************************************************/

div.slide {
    display: none;
    position: absolute;
    margin-left: 0.5%;
    padding: 1% 2% 1% 2%;
}

div.spacer {
    clear: both;
}

div.blue {
    background-color: #CEECF5;
    width: 602px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}


div.continue {
    text-align: center;
    width: 640px;
}


/********************************************************************/
/* Misc                                                             */
/********************************************************************/

.stone {
    background-color: gray;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
}

.plastic {
    background-color: green;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
}

