/********************************************************************/
/* Index slide components                                           */
/********************************************************************/

img.logo {
    height: 6.25em;
}

#consent {
    font-size: .9em;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 1em;
    text-align: justify;
}

