/********************************************************************/
/* Instructions slide components                                    */
/********************************************************************/

div.example-container {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    line-height: 480px; /* should be the height of the video */
    height: 480px;
    width: 640px;
}

.example {
    z-index: -100;
    display: inline-block;
    position: relative;
    width: 100%;
}

#scales {
    border-bottom: 2px solid black;
    padding: 0 50px;
    height: 10%
}

