body {
    padding: 0;
    margin: 0;
    font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
    font-size: 16px;
    line-height: 20px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    font-weight: bold;
    font-size: 16px;
}

.slide {
    /* width: 95%; */
    /* height: 95%; */
    display: none;
    position: absolute;
    margin-left: 0.5%;
    padding: 1% 2% 1% 2%;
}

input, select, button {font-family: Georgia, serif; font-size: 14px;}

button {
    background: url(../images/button-gradient.png);
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 29px;
    min-width: 70px;
}

button:active {
    border-left: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    background: none;
    background-color: #c9c9c9;
}

button[disabled] {
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    cursor: not-allowed;
}

img.logo {
    height: 100px;
}

div.spacer {
    clear: both;
}

div.blue {
    background-color: #CEECF5;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

div.example {
    width: 640px;
    height: 480px;
    text-align: center;
    margin-top: 16px;
}

div.continue {
    text-align: center;
    width: 640px;
}

#content {
    width: 640px;
}

#progress {
    height: 12px;
    margin-bottom: 32px;
    width: 640px;
}

#indicator-stage {
    height: 6px;
    background-color: navy;
    float: left;
}

#indicator-outer {
    padding: 0;
    height: 6px;
    background-color: white;
    width: 550px;
    border: 1px solid black;
    float: left;
}

#progress-text {
    margin-right: 8px;
    line-height: 6px;
    font-size: small;
    float: left;
    width: 80px;
    text-align: left;
}

#video-container {
    width: 640px;
    height: 480px;
    border: 1px solid black;
    margin-top: 16px;
}

#video-instructions {
    position: absolute;
    z-index: 100;
    width: 630px;
    height: 470px;
    text-align: center;
    background-color: white;
    padding: 5px;
}

#player {
    position: absolute;
    z-index: -100;
    width: 640px;
    height: 480px;
}

#player-img {
    position: absolute;
    z-index: -90;
    width: 640px;
    height: 480px;
}

.stone {
    background-color: gray;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
}

.plastic {
    background-color: green;
    color: white;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid black;
}

