/********************************************************************/
/* Trial slide components                                           */
/********************************************************************/

/* Progress bar */

#progress {
    margin-top: .625em;
    margin-bottom: .625em;
    position: relative;
}

#progress-text {
    position: absolute;
}

#indicator-container {
    position: relative;
    float: right;
    width: 82%;
    margin-bottom: .2em;
}

#indicator-outer {
    background-color: white;
    border: 1px solid black;
    height: 1em;
}

#indicator-stage {
    height: 100%;
    background-color: navy;
}

/* Question */

#question-container{
    position: relative;
    padding-top: .625em;
    padding-bottom: .625em;
    line-height: 3em;
}

#question {
    position: absolute;
    font-size: 1.25em;
}

#question-image-container {
    position: relative;
    float: right;
    visibility: hidden;
}

#question-image {
    height: 3em;
}

/* Video player */

#video-container {
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

#video-instructions {
    position: absolute;
    z-index: 100;
    width: 100%;
    font-size: 1.25em;
    text-align: center;
    color: white;
    top: 44%;
}

#video-button {
    position: absolute;
    z-index: 100;
    width: 100%;
    text-align: center;
    top: 70%;
}

#player-float {
    position: relative;
    float: left;
    z-index: -100;
    width: 640px;
    height: 480px;
}

.screenshot {
    width: 640px;
    height: 480px;
}

#screenshot1 {
    position: absolute;
    z-index: 10;
}

#screenshot2 {
    position: absolute;
    z-index: 0;
}

/* Responses */

#responses {
    padding: 0 1em 0 1em;
    position: relative;
    text-align: center;
    margin-top: .625em;
    margin-bottom: .625em;
}

.response {
    width: 50%;
    float: left;
}

/* Feedback */

#feedback {
    width: 30%;
    text-align: center;
    margin-left: 35%;
    font-size: 1.25em;
    position: absolute;
    border: 1px solid white;
    padding-top: .5em;
    padding-bottom: .5em;
    z-index: 100;
}

.stable-feedback {
    background-color: #6666FF;
    top: 2%;
}

.unstable-feedback {
    background-color: #FF6666;
    bottom: 2%;
}
